# Rope
.ropeproject
*.swp
*.hdf5
*.mtx
*.pyc
# *.pdf
mtx_files
*.ps
*.set
*.svs
xsection.dat
*.dat
*.img_proc
.idea
notes
entanglement_eqn/output
entanglement_eqn/*.png
entanglement_eqn/*.pdf
entanglement_eqn/april_2016
